<!DOCTYPE html>
<html>
<head>
	<title>手机验证</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/base.css">
	<link rel="stylesheet" type="text/css" href="../css/debit.css">
	
	<script type="text/javascript" src="../js/index.js"></script>
</head>
<body >
<div id="agreementCase">
	<div class="content">
		<dl>
			<dt>借款协议</dt>
			<dd class="clear-fix">
				<b>借 款 人 ：</b>
				<span>某某某</span>
			</dd>
			<dd class="clear-fix">
				<b>借款金额：</b>
				<span>1000元</span>
			</dd>
			<dd class="clear-fix">
				<b>借款时长：</b>
				<span>7天</span>
			</dd>
			<dd class="clear-fix">
				<b>综合费用：</b>
				<span>45元</span>
			</dd>
			<dd class="clear-fix">
				<b>还款方式：</b>
				<span>一次性还款1045元</span>
			</dd>
			<dd class="clear-fix">
				<b>还款日期：</b>
				<span>2017年06月27日</span>
			</dd>
			<dd class="clear-fix">
				<b>逾期政策：</b>
				<span>7天内逾期，10元每天</span>
				<br/>
				<span style="margin-left:4.4rem">7天后逾期，20元每天</span>
			</dd>
		</dl>
		<i></i>
		<h1>我同意<span>《某某某-借款协议》</span></h1>
	</div>
	<a href="javascript:;">确认</a>
</div>
	
</body>
</html>