<div id="navBar">
	<a href="#/index/sum">返回</a>
	<span>天数</span>
</div>
<div id="day">
	<div class="top">
		<ul class="title">
			<li>借款金额</li>
			<!-- <li>{{a.money}}</li> -->
			<li>1000</li>
			<li>借款时间</li>
		</ul>
		<div class="time">
			<a href="#/index/day">7天</a>
			<a href="#/index/day2">14天</a>
		</div>
		<div class="info">
			<ul class="clear-fix">
				<li>
					<p>快速审核费</p>
					<span>18元</span>
				</li>
				<li>
					<p>账户管理费</p>
					<span>6元</span>
				</li>
				<li>
					<p>利息</p>
					<span>1元</span>
				</li>
			</ul>
		</div>
		<div class="money">
			<b>还款金额</b>
			<i>1025.00</i>
		</div>
	</div>
	<a href="javascript:;" class="btn" ng-click="alert()">确定</a>
</div>
