<div id="navBar">
	<a href="#/my/draw">返回</a>
	<span>提现成功</span>
</div>
<div id="drawSucc">
	<div class="title">
		<img src="./images/succ.png">
		<p>您好，提现申请成功，请耐心等待审核 !</p>
	</div>
	<div class="content">
		<ul>
			<li class="first active">
				<span></span>
				<div>
					<p>恭喜您，申请成功</p>
				</div>
			</li>
			<li class="second">
				<span></span>
				<div>
					<p>等待审核，请耐心等候</p>
				</div>
			</li>
			<li class="third">
				<span></span>
				<div>
					<p>审核通过，立即为您打款</p>
				</div>
			</li>	
		</ul>
	</div>
	<a href="#/my">确定</a>
</div>

