<div id="navBar">
	<a href="javascript:;">返回</a>
	<span>手机运营商授权</span>
</div>
<div id="impower">
	<div class="content">
		<ul>
			<li>
				<span>手机号</span>
				<input type="text" placeholder="请输入" class="number" />
			</li>
			<li>
				<span>运营商服务密码</span>
				<input type="password" placeholder="请输入密码" class="pass" />
			</li>
		</ul>
	</div>
	<div class="info">
		<p>温馨提示</p>
		<p>如何重置运营商密码</p>
		<dl>
			<dt>【移动用户】</dt>
			<dd>方法一：拨打"10086",转"人工服务"重置(推荐)</dd>
			<dd>方法二：点击访问移动官网—选择省份—点击"忘记密码"</dd>
		</dl>
		<dl>
			<dt>【联通用户】</dt>
			<dd>方法一：拨打"10010",转"人工服务"重置(推荐)</dd>
			<dd>方法二：点击访问联通官网—输入手机号—点击"下一步"</dd>
		</dl>
		<dl>
			<dt>【电信用户】</dt>
			<dd>方法一：拨打"10000",转"人工服务"重置(推荐)</dd>
			<dd>方法二：点击访问电信官网—输入手机号—重置密码</dd>
		</dl>
	</div>
	<a href="#/index/papprove">确定</a>
</div>
	
