


<!-- 主体部分 -->
<div id="navBar">
	<a href="#/index">返回</a>
	<span>我的</span>
	<b ng-click="service()">联系客服</b>
</div>


<div id="my-hea">
	<img src="./images/me.png">
	<a href="#/my/login">登陆/注册</a>
</div>
<section id="my-sec">
	<ul>
		<li>
			<a href="#/my/gold">
				<img src="./images/gold.png">
				<span>我的金币</span>	
			</a>
		</li>
		<li>
			<a href="#/my/refund">
				<img src="./images/warn.png">
				<span>还款提醒</span>	
			</a>
		</li>
		<li>
			<a href="#/my/recommend">
				<img src="./images/recommend.png">
				<span>我的推荐</span>
			</a>
		</li>
		<li>
			<a href="#/my/getTask">
				<img src="./images/task.png">
				<span>领取任务</span>
			</a>
		</li>
		<li>
			<a href="#/my/share">
				<img src="./images/erweima.png">
				<span>分享送现金</span>
			</a>
		</li>
		<li>
			<a href="#/my/problem">
				<img src="./images/problem.png">
				<span>常见问题</span>
			</a>
		</li>
		<li>
			<a href="#/my/setPass">
				<img src="./images/set.png">
				<span>设置</span>
			</a>
		</li>
	</ul>
</section>
