<div id="navBar">
	<a href="#/index">返回</a>
	<span>个人信息</span>
</div>
<div id="personInfo">
	<div class="content">
		<ul>
			<li>
				<a href="#/index/message">
					<img src="./images/base.png">
					<span>基本信息</span>
				</a>
			</li>
			<li>
				<a href="#/index/job">
					<img src="./images/job.png">
					<span>职业信息</span>
				</a>
			</li>
			<li>
				<a href="#/index/emergency">
					<img src="./images/linkman.png">
					<span>紧急联系人</span>
				</a>
			</li>
		</ul>
	</div>
	<a href="#/index" class="btn">确定</a>
</div>
