<!-- <!DOCTYPE html>
<html>
<head>
	<title>审核进度</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/base.css">
	<link rel="stylesheet" type="text/css" href="../css/debit.css">
	<script type="text/javascript">
		(function(win,doc){
            function change(){
                doc.documentElement.style.fontSize=doc.documentElement.clientWidth*20/320+'px';
            }
            change();
            win.addEventListener('resize',change,false);
        })(window,document);
    	document.addEventListener('DOMContentLoaded',function(){


        },false)
	</script>
</head>
<body> -->
<div id="navBar">
	<a href="javascript:;">返回</a>
	<span>审核进度</span>
</div>
<div id="progresss">
		<div class="progress-con">
			<ul>
				<li class="active">
					<span></span>
					<div>
						<h1>审核中</h1>
						<p>恭喜您，审核通过，感谢您对我们的支持！</p>
					</div>
				</li>
				<li class="active">
					<span></span>
					<div>
						<h1>确认银行卡</h1>
						<p>请确认您的银行卡，或者更换银行卡</p>
					</div>
				</li>
				<li>
					<span></span>
					<div>
						<h1>签约</h1>
						<p>审核成功后，为了保护您的权益，我们将和您签约放宽款</p>
					</div>
				</li>
				<li>
					<span></span>
					<div>
						<h1>放款</h1>
						<p>签约完成后，我们将即刻放款</p>
					</div>
				</li>
			</ul>
		</div>
		<input type="button" value="确定" />
</div>
