<!DOCTYPE html>
<html>
<head>
	<title>我要还款</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/base.css">
	<link rel="stylesheet" type="text/css" href="../css/debit.css">
	
	<script type="text/javascript" src="../js/index.js"></script>
</head>
<body id="refundCase">
	<div id="content">
		<dl>
			<dt>我要还款</dt>
			<dd class="first">请确保您的余额充足，确保扣款成功，扣款失败将会影响您的信用。暂不支持信用卡还款服务。</dd>
			<dd class="second">
				<span>还款总额：</span>
				<b>1050元</b>
			</dd>
			<dd class="third">
				<span>金币抵现：</span>
				<input type="text" placeholder="请输入金币数量"/>
			</dd>
			<dd class="forth">
				<span>支付方式：</span>
				<!-- <b>农业银行(尾号5755)</b> -->
				<!-- <input type="text" placeholder="请选择支付方式"/> -->
				<a href="#javascript:;" class="pay">请选择支付方式</a>
			</dd>
			<dd >
				<a href="javascript:;" class="true">确认</a>
			</dd>
			<dd >
				<a href="javascript:;" class="false">取消</a>
			</dd>
		</dl>
</body>
</html>