<!-- <!DOCTYPE html>
<html>
<head>
	<title>续期</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/base.css">
	<link rel="stylesheet" type="text/css" href="../css/debit.css">
	
	<script type="text/javascript">
		(function(win,doc){
            function change(){
                doc.documentElement.style.fontSize=doc.documentElement.clientWidth*20/320+'px';
            }
            change();
            win.addEventListener('resize',change,false);
        })(window,document);
    	document.addEventListener('DOMContentLoaded',function(){


        },false)
	</script>
</head>
<body> -->
<div id="navBar">
	<a href="javascript:;">返回</a>
	<span>续期</span>
</div>
<div id="renewal2">
	<ul class="title clear-fix">
		<li>还款</li>
		<li>续期</li>
	</ul>
	<p>续期时间</p>
	<div class="time">
		<a href="javascript:;">7天</a>
		<a href="javascript:;">14天</a>
	</div>
	<div class="content1">
		<ul>
			<li>
				<b>续期到期时间：</b>
				<span>2017年7月14日</span>
			</li>
			<li>
				<b>到期还款：</b>
				<span class="coin">1050.00</span>
			</li>
		</ul>
	</div>
	<p class="money">续期费用</p>
	<div class="content2">
		<ul>
			<li class="clear-fix">
				<b>本期息费：</b>
				<span>45元</span>
			</li>
			<li class="clear-fix">
				<b>续期服务费：</b>
				<span>20元</span>
			</li>
			<li class="clear-fix">
				<b>总计：</b>
				<span class="total">65元</span>
			</li>
		</ul>
	</div>
	<a href="javascript:;" class="btn">确定续期</a>
</div>
<!-- </body>
</html> -->
