<!DOCTYPE html>
<html>
<head>
	<title>手机验证</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/base.css">
	<link rel="stylesheet" type="text/css" href="../css/debit.css">
	
	<script type="text/javascript" src="../js/index.js"></script>
</head>
<body id="repayCase">
	<div id="content">
		<dl>
			<dt>本次借款明细</dt>
			<dd class="clear-fix">
				<b>借款金额：</b>
				<span>1000元</span>
			</dd>
			<dd class="clear-fix">
				<b>借款期限：</b>
				<span>7天</span>
			</dd>
			<dd class="clear-fix">
				<b>还款日期：</b>
				<span>2017年6月17日</span>
			</dd>
			<dd class="clear-fix">
				<b>快速审核费</b>
				<span>36元</span>
			</dd>
			<dd class="clear-fix">
				<b>账户管理费</b>
				<span>12元</span>
			</dd>
			<dd class="clear-fix">
				<b>利息：</b>
				<span>2元</span>
			</dd>
		</dl>
		<h1>本次应还总额：<span>1050元</span></h1>
		<a href="javascript:;">确认</a>
	</div>
</body>
</html>