<!-- <!DOCTYPE html>
<html>
<head>
	<title>还款</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/base.css">
	<link rel="stylesheet" type="text/css" href="../css/debit.css">
	
	<script type="text/javascript">
		(function(win,doc){
            function change(){
                doc.documentElement.style.fontSize=doc.documentElement.clientWidth*20/320+'px';
            }
            change();
            win.addEventListener('resize',change,false);
        })(window,document);
    	document.addEventListener('DOMContentLoaded',function(){


        },false)
	</script>
</head>
<body> -->
<div id="navBar">
	<a href="javascript:;">返回</a>
	<span>还款</span>
</div>
<div id="repay">
	<ul class="title clear-fix">
		<li>还款</li>
		<li>续期</li>
	</ul>
	<div class="remind">
		<p>距离还款日</p>
		<span>6天</span>
	</div>
	<div class="content">
		<ul>
			<li>
				<b>到期时间：</b>
				<i class="time">2017年7月14号</i>
			</li>
			<li>
				<b>到期还款：</b>
				<i class="mount">1025.00</i>
			</li>
		</ul>
	</div>
	<a href="javascript:;">立即还款</a>
</div>
<!-- </body>
</html> -->