<!-- <!DOCTYPE html> -->
<!-- <html>
<head>
	<title>手机验证</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/base.css">
	<link rel="stylesheet" type="text/css" href="../css/debit.css">
	<script type="text/javascript" src="../js/index.js"></script>
</head>
<body>
	<div id="serviceCase">
		<div class="content">
			<img src="../images/service.png">
			<img src="../images/close.png" class="close" ng-click="close()">
		</div>
	</div>
</body>
</html> -->